

* {
  box-sizing: border-box;
}

body {
  background-color: #457b9d;
  color: #F1FAEE;
  font-family: Roboto, sans-serif;
}

i {
  color: #F1FAEE;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}



/* Start of light an dark blue sections */

.lgBlueSection {
  background-color: #457b9d
}

.dkBlueSection {
  background-color: #1d3557;
}

/* End of light and dark blue sections */


/* Start of navbar section */

.navbar {
  background-color: #457b9d;
  font-family: Montserrat, sans-serif;
  font-weight: bolder;
  height: 100px;
  padding: 0 5%;
}

.navbar-brand {
  font-size: 200%;
  color: #F1FAEE;

}
.navLink {
  font-size: 125%;
  padding: 0 19px;
  text-decoration: none;
  color: #F1FAEE;
}

/* End of navbar section */


/* Start of title section */

#title {
}

.titleImg {
  max-width: 100%;
  scale: 100%;
  margin-top: 8%;
  object-fit: cover;
}

/* End of title section */


/* Start of who am I section */

.aboutText {
  padding: 5% 5% 5% 9%;

}

/* End of who am I section */

#about {
}

/* Start of projects section */

.projectsStructure {
  padding: 5% 5% 5% 9%;
}

.card {
  margin: 2%;
  text-align: center;
  border-radius: 23px;
}

.card-title {
  background-color: #1d3557;
  padding: 3%;
}

.card-body {
  background-color: #F1FAEE;
  color: #1d3557;
  margin: 0;
}

/* End of project section */



/* Start of contact section */

/* End of contact section */



/* Start of footer section */

#footer {
  text-align: center;
  margin: 0;
}

/* End of footer section */
