* {
  box-sizing: border-box;
}

/* ::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: blue;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 30px;
} */

body {
  padding-top: 110px;
  background-color: #457b9d;
  color: #F1FAEE;
  font-family: Roboto, sans-serif;
}

i {
  color: #F1FAEE;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

/* Start of light an dark blue sections */


.lgBlueSection {
  background-color: #457b9d;
}

.dkBlueSection {
  background-color: #1d3557;
}


/* End of light and dark blue sections */

/* Start of navbar section */


.navbar {
  background-color: blue;
}

#navigation {

}

.navbar {
  /* From https://css.glass */
  background: rgba(29, 53, 87, 0.26);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);;
  font-family: Montserrat, sans-serif;
  font-weight: bolder;
  padding: 0 5%;
}

.navbar-brand {
  font-size: 200%;
  color: #F1FAEE;
}

.navLink {
  font-size: 125%;
  padding: 0 19px;
  text-decoration: none;
  color: #F1FAEE;
}


/* End of navbar section */

/* Start of title section */


#title {
  padding: 5% 5% 5% 6%;
  height: 28rem;

}

.titleText {
  text-align: center;
  position: relative;
  top: 26%;
}

.titleImg {
  max-width: 40%;
  border-radius: 50%;
  position: relative;
  bottom: ;
  left: 30%;
}

.titleGlass {
  /* From https://css.glass */
  background: rgba(29, 53, 87, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(29, 53, 87, 0.19);
  position: absolute;
  height: 60%;
}




/* End of title section */

/* Start of who am I section */


#about {}

.aboutText {
  padding: 5% 5% 5% 6%;
}


/* End of who am I section */

/* Start of projects section */


.projectsStructure {
  padding: 5% 5% 5% 6%;
}

.card {
  margin: 2.2% 2.2% 2.2% 0;
  text-align: center;
  border: 0;
  border-radius: 12%;
  overflow: hidden;
}

.card:hover {
  scale: 1.1;
  transition: .5s;
}

.card-title {
  background-color: #1d3557;
  padding: 3%;
  margin-bottom: 0;
}

.card-img-top {
  background-color: #F1FAEE;
  border-radius: 0;
  padding: 1% 1.5%;
}

.card-body {
  background-color: #F1FAEE;
  color: #1d3557;
  margin: 0;
}


/* End of project section */

/* Start of skills section */


.skills {
  padding: 5% 5% 5% 6%;
  height: 400px;
}


/* End of skills section */

/* Start of contact section */


.contact {
  padding: 5% 5% 5% 6%;
  height: 400px;}


/* End of contact section */

/* Start of footer section */


#footer {
  text-align: center;
  margin: 0;
  padding-top: 4%;
  height: 10rem;
}


/* End of footer section */


@media only screen and (max-width: 800px) {
  .navRight {
    display: none;
  }
  .titleImg {
    display: none;
  }
}
